body {
  font-family: arial;
}

.card {
  position: relative;
  font-size: 300%; 
  
}
.card:hover {
  cursor: grab;
  top: -10px;
  animation: 1s
}
.card:active {
  cursor: grabbing;
  top: -10px;
  animation: 1s
}
