body {
  font-family: Arial, sans-serif;
}

.card {
  display: flex;
  flex-items: center;
  position: relative;
  font-size: 300%; 
}
.card:hover {
  cursor: grab;
  top: -10px;
  animation: 1s
}
.card:active {
  cursor: grabbing;
  top: -10px;
  animation: 1s
}
