body {
  font-family: Arial, sans-serif;
}

.card {
  display: flex;
  flex-items: center;
  position: relative;
  font-size: 64px; 
}
.card:hover {
  cursor: grab;
  top: -5px;
  font-size: 64px; 
  animation: transform 0.5s linear
}
.card:active {
  cursor: grabbing;
  top: -5px;
  font-size: 58px; 
  animation: transform 0.5s linear
}
